.forgotPassword {
  width: 100%;
  margin: 0;
}
.forgotPassword .forgotPasswordContent {
  padding: 70px 0;
}
.forgotPassword .forgotPasswordContent .left {
  background-color: #fff;
  text-align: center;
  padding: 40px;
  border: 1px solid #ecf0f1;
  height: 100%;
}
.forgotPassword .forgotPasswordContent .left h5 {
  font-family: 'Rubik-Medium';
  font-size: 14px;
  color: #1C113D;
  margin-bottom: 25px;
}
.forgotPassword .forgotPasswordContent .left button {
  height: 48px;
  width: 100%;
  font-family: 'Rubik-Bold';
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #57D284;
  border-radius: 1px;
}
.forgotPassword .forgotPasswordContent .right {
  padding-left: 15px;
  padding-right: 15px;
}
@media(max-width: 767px){
  .forgotPassword .forgotPasswordContent .right {
    padding-left: 0;
    padding-right: 0;
    margin-top: 15px;
  }
}
.forgotPassword .forgotPasswordContent .right .formBody {
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ecf0f1;
}
.forgotPassword .forgotPasswordContent .right .formBody label {
  border-bottom: 2px solid #57D284;
  font-family: 'Rubik-Regular';
  font-size: 30px;
  color: #1C113D;
}
.forgotPassword .forgotPasswordContent .right .formBody p {
  margin-top: 25px;
  font-family: 'Rubik-Regular';
  font-size: 12px;
  color: #1C113D;
}
.forgotPassword .forgotPasswordContent .right .formBody input {
  width: 100%;
  border: 1px solid #C9C9C9;
  font-family: 'Rubik-Light';
  font-size: 16px;
  color: #9B9B9B;
  padding: 10px 12px;
}
.forgotPassword .forgotPasswordContent .right .formBody div {
  text-align: center;
}
.forgotPassword .forgotPasswordContent .right .formBody div button {
  border: none;
  outline: none;
  border-radius: 1px;
  cursor: pointer;
  color: #fff;
  font-family: 'Rubik-Bold';
  font-size: 18px;
  padding: 15px 25px;
  background-color: #57D284;
  margin: 25px 0;
  text-align: center;
}

.forgotPasswordModalBody {
  border-radius: 0;
  margin: 0;
  background: url('../../images/bg-LoginPopUp.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 25px !important;
  height: 500px;
}
.forgotPasswordModalHeader {
  border-bottom: 1px solid #1F231F !important;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  background: #1F231F;
  border-radius: 0 !important;
  font-family: 'Rubik-Regular';
  color: #fff;
}
.forgotPasswordModalHeader label {
  margin: 0;
  padding: 5px 0;
  border-bottom: 2px solid #2ecc71;
}
.forgotPasswordModalHeader button {
  margin: 0 !important;
  padding: 0 8px !important;
  box-shadow: none !important;
  outline: none !important;
}
.forgotPasswordModalHeader button span {
  color: #fff;
}
.forgotPasswordModalBody p {
  font-family: 'Rubik-Light';
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  margin: 30px 0 50px 0;
}
.forgotPasswordModalBody p strong {
  font-family: 'Rubik-Light';
}
.forgotPasswordModalBody hr {
  border: 1px solid #4a4a4a;
}
.forgotPasswordModalBody button {
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  font-family: 'Rubik-Medium';
  background: #57D284;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 1px;
}
