.payment {
  width: 100%;
  margin: 0;
}
.payment .paymentContent {
  padding: 60px 0;
}
.payment .paymentContent .orders {
  background-color: #fff;
  padding: 28px 18px;
  border: 1px solid #ecf0f1;
  height: 100%;
}
.payment .paymentContent .orders h4 {
  font-family: 'Rubik-Medium';
  font-size: 20px;
  color: #1C113D;
}
.payment .paymentContent .orders ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.payment .paymentContent .orders ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.payment .paymentContent .orders ul li p {
  margin: 0;
  font-family: 'Rubik-Medium';
  font-size: 14px;
  color: #9B9B9B;
}
.payment .paymentContent .orders span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment .paymentContent .orders span h5 {
  font-family: 'Rubik-Medium';
  font-size: 16px;
  color: #1C113D;
}
.payment .paymentContent .orders button {
  width: 100%;
  margin-top: 14px;
  font-family: 'Rubik-Medium';
  font-size: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  background: #57D284;
  color: #fff;
  padding: 7px 0;
}

.payment .paymentContent .right {

}
.payment .paymentContent .right .forms {
  background-color: #fff;
  padding: 25px;
  border: 1px solid #ecf0f1;
}
.payment .paymentContent .right .forms label {
  font-family: 'Rubik-Light';
  font-size: 30px;
  color: #1C113D;
  border-bottom: 2px solid #57D284;
}
.payment .paymentContent .right .forms .inputs {
  padding: 0 30px;
}
.payment .paymentContent .right .forms .inputs input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #C9C9C9;
  margin: 10px 0;
  font-family: 'Rubik-Light';
  font-size: 15px;
  color: #000;
}
.payment .paymentContent .right .forms .inputs .formDropdown {
  margin-top: 10px;
  width: 100%;
}
.payment .paymentContent .right .forms .inputs .formDropdown button.formDropdownButton {
  font-family: 'Rubik-Light';
  font-size: 15px;
  background-color: Transparent;
  width: 100%;
  border: 1px solid #C9C9C9;
  border-radius: 0;
  color: #9B9B9B;
  display: flex;
  padding: 10px 14px;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
}
.payment .paymentContent .right .forms .inputs .formDropdown .formDropdownMenu {
  font-size: 15px;
  width: 100%;
}
.payment .paymentContent .right .forms .inputs .formDropdown .formDropdownMenu .formDropdownItem {
  font-family: 'Rubik-Light';
  font-size: 15px;
  border-radius: 0;
}
.payment .paymentContent .right .forms .inputs .formDropdown .formDropdownMenu .formDropdownItem:hover {
  color: #fff;
  background-color: gray;
}

.payment .paymentContent .right .forms .inputs input::placeholder {
  color: #9B9B9B;
}
.payment .paymentContent .right .forms .terms {
  margin-top: 5vh;
  text-align: justify;
  padding: 0 35px;
}
.payment .paymentContent .right .forms .terms p:nth-child(1) {
  font-family: 'Rubik-Regular';
  font-size: 12px;
  color: #1C113D;
  text-align: center;
  margin-bottom: 20px;
  text-align: justify;
}
.payment .paymentContent .right .forms .processPayment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
}
.payment .paymentContent .right .forms .processPayment button {
  width: 100%;
  font-family: 'Rubik-Medium';
  font-size: 16px;
  background: #57D284;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
}
.payment .paymentContent .right .forms .terms p:nth-child(2),
.payment .paymentContent .right .forms .terms p:nth-child(3) {
  font-family: 'Rubik-Regular';
  font-size: 12px;
  color: #9B9B9B;
  text-align: justify;
}




@media(max-width: 991px){
  .payment .paymentContent .right {
    margin: 15px 0;
    padding: 0;
  }
}
@media(max-width: 350px){
  .payment .paymentContent .right .forms .inputs {
    padding: 0;
  }
  .payment .paymentContent .right .forms .terms {
    padding: 0;
  }
  .payment .paymentContent .right .forms .processPayment {
    padding: 0;
  }
}
